[submodule "ThirdParty/glm/glm"]
	path = ThirdParty/glm/glm
	url = https://github.com/g-truc/glm
[submodule "ThirdParty/zlib-ng/zlib-ng"]
	path = ThirdParty/zlib-ng/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "ThirdParty/libspng/libspng"]
	path = ThirdParty/libspng/libspng
	url = https://github.com/randy408/libspng.git
[submodule "ThirdParty/sdl-ttf/sdl-ttf"]
	path = ThirdParty/sdl-ttf/sdl-ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "ThirdParty/sdl/sdl"]
	path = ThirdParty/sdl/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "ThirdParty/jsoncpp/jsoncpp"]
	path = ThirdParty/jsoncpp/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
